.titleRow{
    padding-top:80px;
    padding-bottom:10px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.leftIndentationP{
    padding-left:10px;
}

.screenShots{
    text-align:center;
}

.txtStyle{
    text-align:center;
}